Manuscript/Manuscript.aux
Manuscript/Manuscript.fdb_latexmk
Manuscript/Manuscript.fls
Manuscript/Manuscript.log
Manuscript/IEEEtran_HOWTO.pdf
Manuscript/Manuscript.synctex.gz
Manuscript/pics
Manuscript/Manuscript.bbl
Manuscript/Manuscript.blg
.vscode/settings.json
